body {
    background-image: url('https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-14_856985d9.jpeg');
    background-size: cover; 
    background-position: center center; 
}

.card {
    width: 350px;
    height: 450px;
    background: rgb(48, 48, 52);
    background: linear-gradient(344deg, rgba(40,40,55,1) 0%, rgba(16,16,18,1) 50%);
    box-shadow: 4px 6px 14px #00000036;
    border-radius: 20px;
    color: #F9F9F9;
    padding: 16px;
    transition: all .3s;
    display: flex;
    align-items: center;
    word-break: break-all;
    margin: 0 0 1em 1em;
    border-radius: 20px;
    overflow-x: auto; /* Agregamos la propiedad overflow-x para que el contenido sea desplazable horizontalmente */
  }
   
   .card:hover {
    margin-top: -10px;
   }

#scroll-container {
    overflow: auto;
    white-space: nowrap;
    margin: 10px;
}

.card-text {
  position: absolute;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 60%;
  right: 35%;
}
/* === removing default button style ===*/
.button {
   
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37afff;
    --fs-size: 15px;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Helvetica";
    position: absolute;
    text-transform: uppercase;
    color: white;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    top: 85%;
    right: 50%;
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }

  .btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: relative;
    top: 75%;
    left: 40%;
  }
  
  .btn2::after {
    content: 'like';
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    top: 115%;
  }
  
  .iconFav {
    width: 30px;
    height: 30px;
    transition: .2s linear;
  }
  
  .iconFav path {
    fill: white;
    transition: .2s linear;
  }
  
  .btn2:hover > .icon {
    transform: scale(1.2);
  }
  
  .btn2:hover > .icon path {
    fill: rgb(177, 139, 189);
  }
  
  .btn2:hover::after {
    visibility: visible;
    opacity: 1;
    top: 105%;
  }
  
 